<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>You're almost there</ion-card-title>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      All the magic is next door. Tab right <ion-icon name="happy"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
